
/* for Hero section background img */
.cover {
  /* background-image: url(img/bg.jpg); updated to make img darker: */
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/bg.jpg);
  background-size: cover;
  min-height: 100vh;
} 

/* for Hero section portrait img and texts */
.cover-content img {
  max-width: 200px;
  border: 2px double #fff;
}