
/* for Hero section background img */
.cover {
  /* background-image: url(img/bg.jpg); updated to make img darker: */
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/bg.jpg);
  background-size: cover;
  min-height: 100vh;
} 

/* for Hero section center portrait img and texts */
.cover-content {
  min-height: 100vh;
}

/* for Hero section portrait img */
.cover-content img {
  max-width: 200px;
  border: 2px double #fff;
}

/* About section */
.about {
  background-color: #ececec;
}

/* To adjust it with phone view : smaller than this width */
@media only screen and(max-width:768px) {
  .cover-content h1 {
    font-size: 10px;
    font-weight: bold;
  }
  .cover-content img {
    margin-top: 100px;
  }
}

@media only screen and(max-width:320px) {
  footer p {
    font-size: 5px;
  }
}